<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<div class="my-4 container-sm">
	
	<div class="row">
		<div class="col-sm-9"> <h3>Transactions</h3></div>
		<div class="col-sm">
		<a href="#" class="btn btn-info">Insert search bar here?</a>
		</div>
	</div>
	<br>
	<div class="row">
	<table class="table table-hover"> 
		<thead class="thead-light">
		<tr> 
			<th>Transaction Id</th>
			<th>Car Plate No.</th>
			<th>Name of User</th>
			<th>View Transaction Details</th>
			<th th:if="${session.usession.role} == ${session.admin}">Delete Transaction</th>
		</tr>
		</thead>
		<tr th:each="t : ${transactions}">
			<td th:utext="${t.id}"></td>
			<td th:utext="${t.carPlateNo}"></td>
			<td th:utext="${t.user.fullName}"></td>
			<td>
			<a href="#" class="btn btn-light" th:href="@{/transaction/detail/} + ${t.id}">Details</a>
			</td>
			<td>
			<a href="#" class="btn btn-danger" th:href="@{/transaction/delete/} + ${t.id}" th:if="${session.usession.role} == ${session.admin}">Delete</a>
			</td>
		</tr>
	</table>
	</div>
	
	</div>

</body>
</html>