<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<!-- For update -->
<body>
	<div class="my-4 container-sm">
	
	<div class="row">
		<div th:if="${preView == 'car'}" class="col-sm-7"> <h3>Car Transactions</h3></div>
		<div th:if="${preView == 'all'}" class="col-sm-7"> <h3>All Transactions</h3></div>
		<div class="col-sm">
		<a th:href="@{/transaction/new}" class="btn btn-info">New Stock Usage</a>
		</div>
		<div class="col-sm">
		<a th:if="${user.getRoleName() == 'ADMIN'}" th:href="@{/transaction/newStockEntry}" class="btn btn-info">New Stock Entry</a>
		</div>
	</div>
	<br>
	
	<div class="card mb-4">
          <div class="card-header">
              <i class="fas fa-table mr-1"></i>
              Transactions History
          </div>
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
								<th>Transaction Id</th>
								<th>Car Plate No.</th>
								<th>Name of User</th>
								<th style="text-align:center">View Details</th>
								<th style="text-align:center">Edit</th>
								<th style="text-align:center">Delete</th>
                          </tr> 
                      </thead>
                     <!--  <tfoot>
                          <tr>
                                <th>Transaction Id</th>
								<th>Date Added</th>
								<th>Car Plate No.</th>
								<th>Name of User</th>
								<th>View Transaction Details</th>
								<th>Delete Transaction</th>
                          </tr>
                      </tfoot>  -->
					  <tbody>
					  		<tr th:each="t : ${transactions}">
								<td th:utext="${t.id}"></td>
								<td th:utext="${t.carPlateNo}"></td>
								<td th:utext="${t.user.fullName}"></td>
								<td style="text-align:center">
								<a href="#" class="btn btn-light" th:href="@{/transactiondetails/detail/} + ${t.id}"><i class="fas fa-ellipsis-h"></i></a>
								</td>
								<td style="text-align:center">
								<a href="#" class="btn btn-light" th:href="@{/transaction/edit/} + ${t.id}" th:if="${(user.getRoleName() == 'ADMIN') || (t.getCarPlateNo() != null)}">
								<i class="fas fa-edit"></i></a>
								<i th:if="${(user.getRoleName() == 'MECHANIC')&&(t.getCarPlateNo() == null)}" class="fas fa-ban"></i>
								</td>
								<td style="text-align:center">
								<a href="#" class="btn btn-danger" th:href="@{/transaction/delete/} + ${t.id}" th:if="${(user.getRoleName() == 'ADMIN') || (t.getCarPlateNo() != null)}">
								<i class="fas fa-trash-alt"></i></a>
								<i th:if="${(user.getRoleName() == 'MECHANIC')&&(t.getCarPlateNo() == null)}" class="fas fa-ban"></i>
								</td>
							</tr>
					  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>