<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

	<div class="my-4 container-sm">
	
	<h2>Change your password:</h2><br>
	
	<form action="" th:object="${password}" th:action="@{/changePsd/}+${session.usession.id}" method="post">

		<div class="form-group w-50">
		<label for="oldpassword">Old password:</label>
		<input type="password" class="form-control" th:field="*{oldpassword}">
		<p style="color:red" th:utext="${errMsg_oldPass}"></p>		
		</div>

		<div class="form-group w-50">
		<label for="newpassword">New password:</label>
		<input type="password" class="form-control" th:field="*{newpassword}">		
		<p style="color:red" th:utext="${errMsg_length}"></p>
		</div>
		 
		<div class="form-group w-50">
		<label for="conpassword">Please confirm your new password:</label>
		<input type="password" class="form-control" th:field="*{conpassword}">		
		<p style="color:red" th:utext="${errMsg_noMatch}"></p>
		</div>
		
		<div class="form-group">
        <button class="btn btn-success" type="submit" style="margin:10px">Save</button>
        <a class="btn btn-danger" th:href="@{/}" style="margin:10px">Cancel</a>
		</div>
		
	</form>
	
	</div>
	
</body>
</html>