<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<div class="my-4 container-sm">
	<div class="row">
		<div class="col-sm-10"> <h3>Product Detail</h3></div>
		<div class="col-sm">
		<a href="#" class="btn btn-info" th:href="@{/product/list/}"><i class="	fas fa-chevron-left"></i>  View All</a>
		</div>
	</div>
		<br>
	<div class="row mx-2">
		<div class="col-sm-7 mr-3">
		<div class="row">
			<div class="col-sm d-flex justify-content-center">
			<a href="#" class="btn btn-dark" th:href="@{/transaction/list/}+${p.id}">View Transactions</a>
			</div>
			<div class="col-sm d-flex justify-content-center">
			<a href="#" class="btn btn-primary" th:href="@{/product/edit/}+${p.id}" th:if="${session.usession.role} == ${session.admin}">
			Edit Product</a>
			</div>
			<div class="col-sm d-flex justify-content-center">
			<a href="#" class="btn btn-danger" th:href="@{/product/delete/}+${p.id}" th:if="${session.usession.role} == ${session.admin}" 
			onclick="return confirm('Are you sure you want to delete the product? \r\nAll related transactions will be deleted.')">
			Delete Product</a>
			</div>
		</div>
		<br>
		
		<div class="row">
		<table class="table table-bordered table-sm"> 
		<thead class="thead-light">
			<tr> <th colspan=2>Product</th></tr>
		</thead>
		<tr><td>Id</td> <td th:text="${p.id}"></td></tr>
		<tr><td>Name</td> <td th:text="${p.name}"></td></tr>
		<tr><td>Description</td> <td th:text="${p.description}"></td></tr>
		<tr><td>Type</td> <td th:text="${p.type}"></td></tr>
		<tr><td>Category</td> <td th:text="${p.category}"></td></tr>
		<tr><td>Sub-category</td> <td th:text="${p.subcategory}"></td></tr>
		<tr><td>Brand Id</td> <td th:text="${p.brand.id}"></td></tr>
		<tr><td>Brand Name</td> <td th:text="${p.brand.name}"></td></tr>
		</table>
		</div>
		</div>
		
		<div class="col-sm">
		<div class="row">
			<table class="table table-bordered table-sm"> 
			<thead class="thead-light">
			<tr> <th colspan=2>Inventory</th></tr>
			</thead>
			<tr><td>Current Quantity</td> <td th:text="${p.quantity}"></td></tr>
			<tr><td>Reorder Level</td> <td th:text="${p.reorderLevel}"></td></tr>
			<tr><td>Minimum Order Quantity</td> <td th:text="${p.minOrderQty}"></td></tr>
			<tr><td>Supplier Id</td> <td th:text="${p.supplier.id}"></td></tr>
			<tr><td>Supplier Name</td> <td th:text="${p.supplier.supplierName}"></td></tr>
			</table>
		</div>
		
		<div class="row">
			<table class="table table-bordered table-sm"> 
			<thead class="thead-light">
				<tr> <th colspan=2>Pricing</th></tr>
			</thead>
			<tr><td>Original Price</td> <td th:text="${#numbers.formatCurrency(p.originalPrice)}"></td></tr>
			<tr><td>Wholesale Price</td> <td th:text="${#numbers.formatCurrency(p.getWholesalePrice())}"></td></tr>
			<tr><td>Partner Price</td> <td th:text="${#numbers.formatCurrency(p.getPartnerPrice())}"></td></tr>
			<tr><td>Retail Price</td> <td th:text="${#numbers.formatCurrency(p.getRetailPrice())}"></td></tr>
			</table>
		</div>	
		</div>
	</div>
	</div>
	
</body>
</html>