<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
	<div class="my-4 container-sm">
	
	<div class="row">
		<div class="col-sm-9"> <h3>Products</h3></div>
		<div class="col-sm">
		<a href="#" class="btn btn-info" th:href="@{/product/new/}" th:if="${session.usession.role} == ${session.admin}">Add New Product</a>
		</div>
	</div>
	<br>
	<div class="row">
	<table class="table table-hover"> 
		<thead class="thead-light">
		<tr> 
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Brand</th>
			<th>Type</th>
			<th>Category</th>
			<th style="text-align:center">Quantity</th>
			<th style="text-align:center">Details</th>
			<th style="text-align:center">View Transactions</th>
		</tr>
		</thead>
		<tr th:each="p : ${products}">
			<td th:text="${p.id}" style="vertical-align:middle"></td>
			<td th:text="${p.name}" style="vertical-align:middle"></td>
			<td th:text="${p.description}" style="vertical-align:middle"></td>
			<td th:text="${p.brand.name}" style="vertical-align:middle"></td>
			<td th:text="${p.type}" style="vertical-align:middle"></td>
			<td th:text="${p.category}" style="vertical-align:middle"></td>
			<td th:text="${p.quantity}" style="text-align:center; vertical-align:middle"></td>
			<td style="text-align:center; vertical-align:middle">
			<a href="#" class="btn btn-light" th:href="@{/product/detail/}+${p.id}">
			<i class="fas fa-ellipsis-h"></i></a>
			</td>
			<td style="text-align:center; vertical-align:middle">
			<a href="#" class="btn btn-light" th:href="@{/transaction/list/}+${p.id}">
			<i class="fas fa-history"></i></a>
			</td>

		</tr>
	</table>
	</div>
	
	</div>

</body>
</html>